@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";

.u-anchor{
    display: block;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    text-decoration: none;
    & + &-disabled{
        cursor: not-allowed;
    }
    &:hover{
        color: $brand-primary-hover;
    }
    &:active{
        color: $brand-primary-active;
    }
}
